<!DOCTYPE html>
<html>
<head>
    <title>Update Ticket</title>
</head>

<body>

    <h1>Update Ticket</h1>

    <h2>{{ ticket.title }}</h2>

    <p>
        Current Status: {{ ticket.status }}
    </p>

    <form method="POST">

        {% csrf_token %}

        <label>Status:</label>

        <select name="status">

            <option value="Open"
                {% if ticket.status == "Open" %}selected{% endif %}>
                Open
            </option>

            <option value="In Progress"
                {% if ticket.status == "In Progress" %}selected{% endif %}>
                In Progress
            </option>

            <option value="Resolved"
                {% if ticket.status == "Resolved" %}selected{% endif %}>
                Resolved
            </option>

            <option value="Closed"
                {% if ticket.status == "Closed" %}selected{% endif %}>
                Closed
            </option>

        </select>

        <br><br>

        <button type="submit">Update Status</button>

    </form>

    <br>

    <a href="{% url 'ticket_detail' ticket.id %}">
        Back to Ticket
    </a>

</body>
</html>